// Variables servant à l'espacement
$space: 16px;
$double-space: $space * 2;
$triple-space: $space * 3;
$quad-space: $space * 4;
$demi-space: $space / 2;
$quart-space: $space / 4;

// Couleurs

$color-brand-green: rgb(200, 255, 230);
$color-brand-purple: rgb(200, 130, 240);